<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Jabra's Auto</span>
    <span style="flex: 1 1 auto;"></span>
    <span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with star icon">
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with event icon">
        <mat-icon>event</mat-icon>
      </button>
    </span>

  </mat-toolbar>
</p>
